<script id='comment-modal-template' type='text/template'>
  <div class='comment-modal'>
    <form>
      <label>Comment</label>
      <textarea></textarea>
      <div class='modal-actions'>
        <input type='submit' value='Save'>
        <a class='close'>Cancel</a>
      </div>
    </form>
  </div>
</script>
