{{#> layout }}
  {{> _header}}
  {{> _tabnav compare=true}}

  <section class="m-compare center flex justify-between mw9 ph4">
    <div class="flex-auto mr3 ours"> ours</div>
    <div class="flex-auto theirs"> theirs</div>
  </section>
{{/ layout }}
