{{#> layout }}
  {{> _header}}
  {{> _tabnav compare=true}}

  <section class="center flex justify-between m-compare mt4 mw9 ph4">
    <div class="m-compare__item mr3">
      <h3 class="b--black-10 bb f5 normal pb3">Original Document</h3>
    </div>
    <div class="m-compare__item">
      <h3 class="b--black-10 bb f5 normal pb3">Tenant Request</h3>
    </div>
  </section>
{{/ layout }}
