{{#> layout }} {{> _header}}

<section class="center flex justify-between mt4">
  <div class="bg-black-05 m-compare__item pa3">
    <div class="bg-white center pa5">
      {{> _lease }}
    </div>
  </div>


  <div class="m-compare__item ph3 relative" data-compare-container>
    {{> _compare-header num="1" reviewed="0" prev="" next="compare-ignore"}}

    <div class="b--lightest-blue bt bw2 absolute w-90" style="top: 400px;" data-compare-card="request-2">
      <div class="b--black-10 ba pa3 relative">
        {{> _compare-card-meta num="2"}}

        {{#diffColor "deletion"}}
        <div data-compare-copy="request-2">
          <p class="georgia lh-copy dark-gray">
            <span class="underline ml4">7.02 Tenant Electricity.</span> Tenant shall pay to Landlord, as Additional <mark class="mark-color black relative" data-diff>Rent: (a) Tenant’s pro rata share of</mark> the costs of electricity used <mark class="mark-color black relative"
              data-diff>on the
            floor on which any portion of the Premises are located if such portion of
            the Premises does not consist of the entire floor (consisting of</mark> the
            <mark class="mark-color black relative" data-diff>20th Floor</mark> Premises
            <mark class="mark-color black relative" data-diff>as of the Term
            Commencement Date); and (b)</mark> the <mark class="mark-color black
            relative" data-diff>entire share of</mark> the <mark class="mark-color black
            relative" data-diff>costs of electricity used</mark> on the <mark class="mark-color black relative" data-diff>floor on which</mark> any portion <mark class="mark-color black relative" data-diff>of</mark> the
            <mark class="mark-color black relative" data-diff>Premises are located if
            such</mark> portion of the Premises <mark class="mark-color black relative" data-diff>consists of the entire floor (consisting of the 21st Floor
            Premises as of</mark> the <mark class="mark-color black relative" data-diff>Term Commencement Date),</mark> in <mark class="mark-color black
            relative" data-diff>each case</span> in advance on the first day of each
            month or partial month of the Term, based on amounts estimated by Landlord
            from time to time for such electricity charges, subject to periodic
            reconciliations based on actual <mark class="mark-color black relative"
            data-diff>electricity usage</mark> and utility rates for the space and period in question.
        </div>


        {{/diffColor}}

      </div>

      {{> _compare-card-actions num="2"}}
    </div>
  </div>
</section>

{{> _compare-action-hover-btns}}
{{/ layout }}
