{{#> layout }} {{> _header}}

<section class="center flex justify-between mt4">
  <div class="bg-black-05 m-compare__item pa3">
    <div class="bg-white center pa5">
      {{> _lease }}
    </div>
  </div>


  <div class="m-compare__item ph3 relative" data-compare-container>
    {{> _compare-header num="2" reviewed="1" prev="/compare-accept" next="compare-ignore"}}

    <compare-card change-number="2" inline-template>
      <div :class="borderColor()" class="bt bw2 absolute w-90" style="top: 400px;">
        <div class="b--black-10 ba pa3 relative">
          {{> _compare-card-meta }}

          <div v-if="isNew()">
            {{> _compare-card-copy }} {{> _compare-card-actions }}
          </div>
        </div>
      </div>
    </compare-card>
  </div>
</section>

{{/ layout }}
