<div class="bg-blue white pa3 flex items-center justify-between">
  <a href="/" class="link white">eMail</a>
  <div class="bg-lightest-blue blue br1 f6 o-70 pa2 w-30">
    <i class="material-icons material-icon-small">search</i>
    Search eMail
  </div>
  <img src="https://ui-avatars.com/api/?name=Bart+Starr&background=fef9c7"
    class="br-100 dib h2 ml2 w2"
    alt="avatar">
</div>
<div class="bg-black-05 flex-ns">
  <ul class="bg-white mr4 vh-100-ns w-30-ns">
    <h2 class="normal ph3 pv2">Inbox</h2>
    {{> _email-preview
      class="bg-lightest-blue"
      email="rachel@freshfields.com via LeasePilot"
      subject="Rachel wants to work with you in LeasePilot"
      excerpt="Rachel Bueller want to negotiate with you ..."
    }}

    {{> _email-preview
      email="jason@cbre.com"
      subject="Re: 355 Boylston Street"
      excerpt="Bart, we need to talk about this deal. Please give ..."
    }}
    {{> _email-preview
      email="harrison@shaws.com"
      subject="Project Wildcat *confidential*"
      excerpt="Project Wildcat is moving in the right direction ..."
    }}
  </ul>
  <div class="mw8">
    <p class="f4 mv4">Rachel wants to work with you in LeasePilot</p>
    <div class="bg-white pv4-ns ph5-ns">
      {{> _email-front-matter
        email="Rachel Bueller via LeasePilot <negotiate@leasepilot.com>"
        date="Thu 5/03/2018, 1:01PM"
        to="me <bart@ey.com>"
      }}
      {{> _email-rachel-invites}}
    </div>
  </div>
</div>
