{{#> layout}}
  <div class="bg-blue white pa3 flex items-center justify-between">
    <a href="/" class="link white">eMail</a>
    <div class="bg-lightest-blue blue br1 f6 o-70 pa2 w-30">
      <i class="material-icons material-icon-small">search</i>
      Search eMail
    </div>
    <img src="https://ui-avatars.com/api/?name=Rachel+Bueller"
      class="br-100 dib h2 ml2 w2"
      alt="avatar">
  </div>

  <div class="bg-black-05 flex-ns">
    <ul class="bg-white mr4 vh-100-ns w-30-ns">
      <h2 class="normal ph3 pv2">Inbox</h2>
      {{> _email-preview
        email="jason@cbre.com"
        subject="Rachel, we need to talk about this deal"
        excerpt="Hey Rachel – when you get back in the office ..."
      }}

      {{> _email-preview
        class="bg-lightest-blue"
        email="rache@freshfields.com"
        subject="Bart commented in LeasePilot"
        excerpt="Rachel, here are my edits based on your first dra ..."
      }}
      {{> _email-preview
        email="harrison@shaws.com"
        subject="Project Wildcat *confidential*"
        excerpt="Project Wildcat is moving in the right direction ..."
      }}
    </ul>
    <div class="center mw8">
      <p class="f4 mv4">Bart commented in LeasePilot</p>
      <div class="bg-white pv4-ns ph5-ns">
        {{> _email-front-matter
          ui-avatar-string="Bart+Starr&background=fef9c7"
          email="Bart Starr via LeasePilot <negotiate@leasepilot.com>"
          date="Thu 5/03/2018, 3:30PM"
          to="me <rachel@freshfields.com>"
        }}

         {{> _email-barts-edits}}

      </div>
    </div>
  </div>
{{/ layout}}
