{{#> layout }}
  <div class="b--black-10 bb pa3">
    <div class="flex items-center">
      <i class="material-icons pr2">chevron_left</i>
      <img src="/assets/img/logo.png" class="br-100 dib h3 mr3 w3" alt="logo">
      <div>
        <h1 class="f4 mb1 ml2 mt2 normal"> v.1 New Pacific Place – Starbucks Inc.</h1>
        <ul class="list">
          <li class="dib mr2"><a href="#" class="dim f6 link mid-gray pa2">
            <i class="material-icon-small material-icons">lock</i>
            You control this document</a></li>
          <li class="dib mr2"><a href="#" class="dim f6 link mid-gray pa2">Negotiation with 0</a></li>
          <li class="dib mr2"><a href="#" class="dim f6 link mid-gray pa2">
            <i class="material-icon-small material-icons">check</i>
            All changes saved</a></li>
          <li class="dib mr2"><a href="#" class="dim f6 link mid-gray pa2 underline">Status: Initial draft</a></li>
        </ul>
      </div>
      <div class="flex flex-grow-1 items-center justify-end">
        <a class="bg-navy br2 dib dim f6 link mr2 ph4 pv2 white" href="/share-lease">Share</a>
        <img src="https://ui-avatars.com/api/?name=Rachel+Bueller" class="br-100 h2 w2 dib ml2" alt="avatar">
      </div>
    </div>
  </div>

  <nav class="b--black-10 bb ph3 pl4 pt3">
    <a class="b bb black dib dim f6 link mr3 pb3 ph5" href="#" title="Home">Lease</a>
    <a class="dib dim f6 gray link mr3 ph5" href="#" title="Home">Compare</a>
  </nav>

  <div class="bg-black-05 cf">
    <article class="fl mw6 pa3 w-20">
      <h1 class="f4 normal">Basic terms</h1>
      <ul class="b--black-10 br2 f6 list ml0 pl0">
        <li class="b--black-10 bb pv3">Tenant Information
          <i class="fr material-icon-small material-icons o-30">add</i>
        </li>
        <li class="b--black-10 bb pv3">Existing Lease Information
          <i class="fr material-icon-small material-icons o-30">add</i>
        </li>
        <li class="b--black-10 bb pv3">Extended Term Information
          <i class="fr material-icon-small material-icons o-30">add</i>
        </li>
        <li class="b--black-10 bb pv3">Extended Term Rent
          <i class="fr material-icon-small material-icons o-30">add</i>
        </li>
        <li class="b--black-10 bb pv3">Guaranties
          <i class="fr material-icon-small material-icons o-30">add</i>
        </li>
        <li class="pv3">Miscellaneous
          <i class="fr material-icon-small material-icons o-30">add</i>
        </li>
      </ul>
    </article>
    <div class="fl w-70 pa3">
      <div class="bg-white center mw8 pa6">
        {{> _lease }}
      </div>
    </div>
    <div class="fl flex items-center justify-end pa3 w-10">
      <i class="material-icons">chevron_left</i>
      <i class="material-icons ph1">chat</i>
      <small>(0)</small>
    </div>
  </div>


  {{/layout}}
