{{#> layout }}
  <div class="bb b--black-10 pa3">
    <div class="flex items-center">
      <i class="material-icons pr2">chevron_left</i>
      <img src="http://acceptance.leasepilot.co/images/logo.png" class="br-100 h3 w3 dib mr3" alt="logo">
      <div>
        <h1 class="mt2 mb1 ml2 f4 normal"> v.1 New Pacific Place – Starbucks Inc. </h1>
        <ul class="list">
          <li class="dib mr2"><a href="#" class="f6 pa2 link dim mid-gray">
            <i class="material-icons material-icon-small">lock</i>
            You control this document</a></li>
          <li class="dib mr2"><a href="#" class="f6 pa2 link dim mid-gray">Negotiation with 0</a></li>
          <li class="dib mr2"><a href="#" class="f6 pa2 link dim mid-gray">
            <i class="material-icons material-icon-small">check</i>
            All changes saved</a></li>
          <li class="dib mr2"><a href="#" class="f6 pa2 link dim mid-gray underline">Status: Initial draft</a></li>
        </ul>
      </div>
      <div class="flex flex-grow-1 justify-end">
        <a class="f6 link dim br2 ph4 pv2 mb2 dib white bg-navy" href="#0">Share</a>
        <img src="https://ui-avatars.com/api/?name=Rachel+Bueller" class="br-100 h2 w2 dib ml2" alt="avatar">
      </div>
    </div>
  </div>

  <nav class="pl4 ph3 pt3 bb b--black-10">
    <a class="link dim black b f6 dib mr3 bb pb3 ph5" href="#" title="Home">Lease</a>
    <a class="link dim gray f6 dib mr3 ph5" href="#" title="Home">Compare</a>
  </nav>

  <div class="bg-black-05 cf">
    <article class="fl w-20 pa3 mw6">
      <h1 class="f4 normal">Basic terms</h1>
      <ul class="list pl0 ml0 b--black-10 br2 f6">
        <li class="pv3 bb b--black-10">Tenant Information
          <i class="material-icons material-icon-small fr o-30">add</i>
        </li>
        <li class="pv3 bb b--black-10">Existing Lease Information
          <i class="material-icons material-icon-small fr o-30">add</i>
        </li>
        <li class="pv3 bb b--black-10">Extended Term Information
          <i class="material-icons material-icon-small fr o-30">add</i>
        </li>
        <li class="pv3 bb b--black-10">Extended Term Rent
          <i class="material-icons material-icon-small fr o-30">add</i>
        </li>
        <li class="pv3 bb b--black-10">Guaranties
          <i class="material-icons material-icon-small fr o-30">add</i>
        </li>
        <li class="pv3">Miscellaneous
          <i class="material-icons material-icon-small fr o-30">add</i>
        </li>
      </ul>
    </article>
    <div class="fl w-70 pa3">
      <div class="bg-white pa6 mw8 center">
        {{> _lease }}
      </div>
    </div>
    <div class="fl w-10 pa3 flex items-center justify-end">
      <i class="material-icons">chevron_left</i>
      <i class="material-icons ph1">chat</i>
      <small>(0)</small>
    </div>
  </div>


  {{/layout}}
