{{#> layout }}
<share-form inline-template>
  <div>
    <a href="/view-lease-tenant" class="dark-gray flex items-center link pl3 pt3">
      <i class="bg-light-gray br-100 material-icons pa3">close</i>
    </a>
    <h1 class="center f2 lh-title mw7 normal pb2 pt2 tc">
      Send your changes to Rachel Bueller
      <article data-name="slab-stat">
        <dl class="dib mr3 mt4">
          <dd class="br1 f6 ml0 pr2">
            <i class="material-icon-small material-icons">mode_edit</i>
            Changes
          </dd>
          <dd class="f1">72</dd>
        </dl>
        <dl class="dib mr3">
          <dd class="br1 f6 ml0 ph2 pr2">
            <i class="material-icon-small material-icons">mode_comment</i>
            Comments
          </dd>
          <dd class="f1">10</dd>
        </dl>
      </article>
    </h1>

    <div class="b--black-05 bg-near-white bt center pv4 vh-100">
      <form action="/view-lease-tenant" class="black-80 center mw6 pa4" @submit.prevent='submit'>
        <div class="relative">
          <img src="https://ui-avatars.com/api/?name=Bart+Starr" class="absolute br-100 dib h2 left--3 w2" alt="avatar">
          <textarea id="comment" name="comment" class="b--black-20 ba border-box db f6 hover-black lh-copy mb2 pa3 w-100" placeholder="e.g. Hi Rachel, Check out my changes. I would love to get feedback from you. Thanks!"
            rows="5" aria-describedby="comment-desc"></textarea>
          <small class="black-40 absolute right-1 bottom-1">500</small>
        </div>

        <div class="flex items-baseline justify-end mt3">
          <a href="/view-lease-tenant" class="f6 link dim black db">Cancel</a>
          <div class="flex flex-column ml6 pt3">
            <button class="b--black ba bg-navy f6 grow input-reset pa3 br2 pointer white" :class="{'o-50': isSending}">
              <span v-if="isDone">
                <i class="material-icons material-icon-small">check</i>
                Done
              </span>
              <span v-else="!isDone">\{{ buttonText }}</span>
            </button>
            <small class="mt3 tc lh-copy">
              This will send a message to
              <strong>rachel@freshfields.com</strong> and email you the lease as a Word file (.docx)
            </small>
          </div>
        </div>
      </form>
    </div>
  </div>
</share-form>
{{/layout}}
