{{#> layout }}
  <header class="center mb3 mw5 pb4 ph4 pt3">
    <img src="/assets/img/leasepilot-centered-lockup.png" alt="logo">
  </header>
  <div class="center mw7 ph5">
    <h1 class="f2 fw5 lh-title pt3 tc">
      Verify your email to start negotiating with Rachel Bueller on LeasePilot
    </h1>
    <form action="/view-lease" class="pt4" data-submit-form>
      <fieldset class="bn cf ma0 pa0">
        <div class="b--black-10 ba cf">
          <label class="clip" for="email-address">Email Address</label>
          <input
            class="bg-white black-80 bn br2-ns br--left-ns f5-l f6 fl input-reset lh-solid pa3 w-75-m w-80-l w-100"
            placeholder="Your Email Address"
            type="email"
            name="email-address"
            value="" id="email-address">
          <button
            class="bg-animate bg-navy bn br2-ns br--right-ns button-reset f5-l f6 fl hover-bg-black pointer pv3 tc w-20-l w-25-m w-100 white"
            type="submit"
            data-send-button >
            Verify
          </button>
        </div>
      </fieldset>
    </form>
  </div>

  <div class="b--black-10 bg-black-05 bt mt6">
    <h2 class="fw5 pt5 tc">What is LeasePilot?</h2>
    <p class="center f4 lh-copy mid-gray mw7 pb4 tc">
      LeasePilot is a document automation platform designed to speed up the
      process of drafting leases. Navigate your lease rapidly, revise and
      comment on your lease faster and monitor changes with ease, all in one
      place.
    </p>

    <div class="center flex-ns mw7 pb6">
      <div class="mr4-ns w-33-ns">
        <h3 class="b--black-20 bb fw5 pb3">
          <i class="material-icons v-btm">lock_outline</i>
          Secure editing
        </h3>
        <p class="mid-gray lh-copy">
          Only you can see your edits and comments until you send your lease for review.
        </p>
      </div>
      <div class="mr4-ns w-33-ns">
        <h3 class="b--black-20 bb fw5 pb3">
          <i class="material-icons v-btm">find_in_page</i>
          Conceptual navigation
        </h3>
        <p class="mid-gray lh-copy">
          Easily read through a document with clarity and speed. Never miss a
          term of agreement with this transparent tool!
        </p>
       </div>
      <div class="w-33-ns">
        <h3 class="b--black-20 bb fw5 pb3">
          <i class="material-icons v-btm">access_time</i>
          Fast and easy!
        </h3>
        <p class="mid-gray lh-copy">
          Increase your realization rate with our streamlined workflow.
        </p>
      </div>
    </div>
  </div>

{{/ layout }}
