{{#> layout }}

{{> _header
  url="share-lease"
}}

<div class="bg-black-05 cf">
  <article class="fl mw6 pa3 w-20">
    <h1 class="f4 normal">Basic terms</h1>
    <ul class="b--black-10 br2 f6 list ml0 pl0">
      <li class="b--black-10 bb pv3">Tenant
        <i class="fr material-icon-small material-icons o-30">add</i>
      </li>
      <li class="b--black-10 bb pv3">Premises
        <i class="fr material-icon-small material-icons o-30">add</i>
      </li>
      <li class="b--black-10 bb pv3">Premises Improvements
        <i class="fr material-icon-small material-icons o-30">add</i>
      </li>
      <li class="b--black-10 bb pv3">Term
        <i class="fr material-icon-small material-icons o-30">add</i>
      </li>
      <li class="b--black-10 bb pv3">Base Rent
        <i class="fr material-icon-small material-icons o-30">add</i>
      </li>
      <li class="b--black-10 bb pv3">Reimbursements
        <i class="fr material-icon-small material-icons o-30">add</i>
      </li>
      <li class="b--black-10 bb pv3">Tenant Special Rights
        <i class="fr material-icon-small material-icons o-30">add</i>
      </li>
      <li class="b--black-10 bb pv3">Credit Support
        <i class="fr material-icon-small material-icons o-30">add</i>
      </li>
      <li class="bb b--black-10 pv3">Miscellaneous
        <i class="fr material-icon-small material-icons o-30">add</i>
      </li>
    </ul>
  </article>
  <div class="fl w-70 pa3">
    <div class="bg-white center mw8 pa6">
      {{> _lease-clean }}
    </div>
  </div>
</div>

{{/layout}}
