<compare-header inline-template>
  <div :class="{'fixed pt3': !visibleOnPage}" class="m-compare__header b--black-10 bb bg-white flex items-center justify-between top-0 pb3"
    data-sticky-header>
    <div>
      <p aria-hidden="true" class="bg-black-10 br-100 dib f6 fw6 mv0 pa1">BS</P>
      <p class="dib mv0">Bart made
        <strong>72 requests</strong>
      </p>
      <p class="f6 mt2 mb0">You have reviewed
        <strong>0</strong> of 72 requests</p>
    </div>

    <nav>
      <button class="bg-transparent bn dim f6 fw6" type="button">← Previous</button>
      <button class="bg-transparent bn dim f6 fw6" type="button">Next →</button>
      <button class="b--navy bg-white br2 dib dim f6 link mr2 ph4 pv2 navy" type="button">Finish your review</button>
    </nav>
  </div>
</compare-header>
