<div class="b--lightest-blue bt bw2">

  <div class="b--black-10 ba pa3">
    {{> _compare-card-meta }}

    {{#diffColor "addition"}}
    {{> _compare-card-copy}}
    {{/diffColor}}

  </div>

  {{> _compare-card-actions }}

</div>