<div class="flex items-center justify-between">
  <p class="f6 mv0">Request
    <strong>\{{changeNumber}}/72</strong>
  </p>
  <p v-if="!isNew()" class="f6 fw6 mv0">\{{ formattedStatus() }}</p>
  <button @click="undo" v-if="!isNew()" class="br2 bn f6 fw6 navy self-center underline" type="button">Undo</button>
</div>
