<div class="flex items-center justify-between">
  <p class="f6 mv0">Request <strong>{{num}}/72</strong></p>
  <p class="f6 fw6 mv0" data-compare-result="request-{{num}}"></p>
  <button class="br2 bn dn f6 fw6 navy self-center underline" type="button" data-compare-undo="request-{{num}}">Undo</button>
</div>
