<div class="b--lightest-blue bt bw2 absolute" style="top: 400px;">
  <div class="b--black-10 ba pa3 relative">
    {{> _compare-card-meta }}

    {{#diffColor "addition"}}
    {{> _compare-card-copy}}
    {{/diffColor}}

  </div>

  {{> _compare-card-actions }}
</div>