<div class="b--lightest-blue bt bw2 absolute w-90" style="top: 400px;" data-compare-card="request-1">
  <div class="b--black-10 ba pa3 relative">
    {{> _compare-card-meta }}

    {{#diffColor "addition"}}
    {{> _compare-card-copy}}
    {{/diffColor}}

  </div>

  {{> _compare-card-actions }}
</div>