<div data-compare-copy="request-{{num}}">
  <p class="georgia lh-copy dark-gray">
    <span class="underline ml4">7.01 Building Services.</span> Landlord shall
    furnish Tenant with the following services: (a) water for use in the Base
    Building <mark class="mark-color black relative" data-diff>restrooms and any
    restrooms and kitchens located with the Premises;</mark> (b) customary heat
    and air conditioning in season during Building Service <mark
    class="mark-color black relative" data-diff>Hours for first class office
    buildings</mark> in the <mark class="mark-color black relative"
    data-diff>City of Boston</mark>;
</div>
