<div data-compare-copy="request-{{num}}">
  <p class="georgia lh-copy dark-gray">
    <span class="underline ml4">7.01 Building Services.</span> Landlord shall furnish Tenant with the following services: (a) water for use in the Base Building <mark class="mark-color black relative" data-diff>restrooms and any
    restrooms and kitchens located with the Premises;</mark> (b) customary heat and air conditioning in season during Building Service <mark class="mark-color black relative" data-diff>Hours for first class office
    buildings</mark> in the <mark class="mark-color black relative" data-diff>City of Boston</mark>;
</div>

<div data-compare-copy="request-{{num}}">
  <p class="georgia lh-copy dark-gray">
    <span class="underline ml4">7.02 Tenant Electricity.</span> Tenant shall pay to Landlord, as Additional <mark class="mark-color black relative" data-diff>Rent: (a) Tenant’s pro rata share of</mark> the costs of electricity used <mark class="mark-color black relative"
      data-diff>on the
    floor on which any portion of the Premises are located if such portion of
    the Premises does not consist of the entire floor (consisting of</mark> the
    <mark class="mark-color black relative" data-diff>20th Floor</mark> Premises
    <mark class="mark-color black relative" data-diff>as of the Term
    Commencement Date); and (b)</mark> the <mark class="mark-color black
    relative" data-diff>entire share of</mark> the <mark class="mark-color black
    relative" data-diff>costs of electricity used</mark> on the <mark class="mark-color black relative" data-diff>floor on which</mark> any portion <mark class="mark-color black relative" data-diff>of</mark> the
    <mark class="mark-color black relative" data-diff>Premises are located if
    such</mark> portion of the Premises <mark class="mark-color black relative" data-diff>consists of the entire floor (consisting of the 21st Floor
    Premises as of</mark> the <mark class="mark-color black relative" data-diff>Term Commencement Date),</mark> in <mark class="mark-color black
    relative" data-diff>each case</span> in advance on the first day of each
    month or partial month of the Term, based on amounts estimated by Landlord
    from time to time for such electricity charges, subject to periodic
    reconciliations based on actual <mark class="mark-color black relative"
    data-diff>electricity usage</mark> and utility rates for the space and period in question.
</div>
