<div>
  <p class="georgia lh-copy dark-gray">
    A. Landlord and Tenant have entered into a Lease Agreement dated
    <compare-mark type="addition">July 1</compare-mark>, 2018 (the “Lease”), for those certain premises consisting of
    <compare-mark type="addition">around</compare-mark> 3,000 square feet designated as Storeroom Number
    <compare-mark type="addition">2</compare-mark> and having an address of 41 Winter
    <compare-mark type="addition">St</compare-mark>, Boston, MA 02108 (the “Premises”), which Premises are situated within the New Pacific Place Shopping
    Center (“Shopping Center”) located in the City of Hartford, County of Hartford and State of Connecticut.
  </p>
</div>
