<div class="bg-black-05 pa3">
  <textarea class="b--black-20 ba border-box db f6 hover-black lh-copy mb2 pa3 w-100" placeholder="Leave an optional comment..." rows="2"></textarea>

  <div class="flex">
    <button class="b--green bg-white br2 dim f6 fw6 green mr2 pa2" type="button">✓ Accept</button>
    <button class="b--red bg-white br2 dim f6 fw6 red mr2 pa2" type="button">x Ignore</button>
    <button class="b--navy bg-white br2 dim f6 fw6 navy" type="button">+ Replace with my language</button>
  </div>
</div>