{{#> layout }}
  <div class="lh-copy mw6">
    <header class="b--black-10 bb mb3 pb3">
      <img src="/assets/img/leasepilot-centered-lockup.png" class="center w-40" alt="logo">
    </header>
    <h1 class="f2 lh-title mt4">
      Rachel Bueller wants to negotiate with you on LeasePilot!
    </h1>
    <h2 class="f4 ma0 normal">Rachel says:</h2>
    <p class="f4 mb4 mid-gray mt2 normal">
      “Hey Bart, Check out this lease for New Pacific Place. I would love to get
      your thoughts. Thanks!”
    </p>
    <a class="bg-navy br2 dib dim link mb2 ph5 pv3 white" href="/">Begin Negotiation</a>

    <h2 class="b--black-10 bt ma0 mt4 pt4">What is LeasePilot?</h2>
    <p class="f4 mid-gray mt2">
      LeasePilot is a document automation platform designed to speed up the
      process of drafting leases. Navigate your lease rapidly, revise and
      comment on your lease faster and monitor changes with ease, all in one
      place.
    </p>

    <footer class="b--black-10 bt f6 mt4 pt4 tc">
      <p>
        This email was sent to <a class="blue link" href="#">bart@ey.com</a> because
        <a class="blue link" href="#">rachel@freshfields.us</a> sent an invitation in LeasePilot.
      </p>
      <p class="ma0">LeasePilot</p>
      <p class="ma0">109 State St, Boston, MA 02109</p>
    </footer>
  </div>

{{/ layout }}
