<div class="f6 pb4 relative">
  <img
    src="https://ui-avatars.com/api/?name={{ui-avatar-string}}"
    class="absolute left--3 br-100 h2 w2 dib ml2"
    alt="avatar">
  <p class="b ma1 o-60">{{email}}</p>
  <p class="ma1">{{date}}</p>
  <p class="ma1 o-60">{{to}}</p>
</div>
