<a class="bg-animate black db hover-bg-lightest-blue link" href="#">
  <li class="b--black-05 bb bt pa3 {{class}}">
    <p class="b f6 ma2 o-60">{{email}}</p>
    <p class="ma2">{{subject}}</p>
    <p class="f6 ma2 o-60">{{excerpt}}</p>
  </li>
</a>
