{{#> layout }}
  <div class="lh-copy mw6">
    <p class="b--black-30 bb f4 mt4 pb3">Rachel, here are my edits based on your first draft.</p>
    <p class="f6 mt2">In <a href="#" class="blue link">{{site.lease-name}}</a></p>

    <h2 class="dark-gray f7 mt4 ttu">Comments and edits</h2>
    <article class="mt4">
      <span class="bg-light-yellow">
        Tenant shall arrange directly with the utility companies for commencement of services.
      </span>
      <div class="flex items-baseline">
        <i class="material-icon-small material-icons mr2">comment</i>
        <p class="mb0 mr2">“We want the landlord to arrange for utilities.”</p>
        <a href="/compare" class="link blue">Respond</a>
      </div>
    </article>

    <article class="mt4">
      <span class="bg-light-yellow">
        Combination heating and air conditioning unit per Landlord's design with
        supply air duct work and diffusers.
      </span>
      <div class="flex items-baseline">
        <i class="material-icon-small material-icons mr2">comment</i>
        <p class="mb0 mr2">“We want to designate the HVAC design.”</p>
        <a href="/compare" class="link blue">Respond</a>
      </div>
    </article>

    <article class="mt4">
      <span >
        Combination <span class="bg-washed-red strike">heating and air
        conditioning</span> <span class="bg-washed-green">HVAC</span> unit per
        Landlord's design with supply air duct work and diffusers.
      </span>
      <div class="flex items-baseline mt2">
        <a href="/compare" class="link blue">Respond</a>
      </div>
    </article>

    <a class="bg-navy br2 dib dib dim f5 link mt4 ph4 pv2 white" href="/compare">Open in LeasePilot</a>

    <footer class="b--black-10 bt f6 mt4 pt4 tc">
      <p>
        This email was sent to
        <a class="blue link" href="#">bart@ey.com</a> because
        <a class="blue link" href="#">rachel@freshfields.us</a> sent an invitation in LeasePilot.
      </p>
      <p class="ma0">LeasePilot</p>
      <p class="ma0">109 State St, Boston, MA 02109</p>
    </footer>
  </div>
{{/ layout }}
