{{#> layout }}
<div class="lh-copy mw6">
  <p class="b--black-20 bb mt2 pb3">Rachel, here are my edits based on your first draft.</p>
  <p class="f6 mt2"> In
    <a href="#" class="blue link">{{site.lease-name}} </a>
  </p>

  <article data-name="slab-stat">
    <h2 class="f4 mb0 mt4 pb0">Summary</h1>
      <dl class="dib mr3 mt3">
        <dd class="br1 f6 ml0 pr2">
          <i class="material-icon-small material-icons">mode_edit</i>
          Changes
        </dd>
        <dd class="f1">72</dd>
      </dl>
      <dl class="dib mb3 mr3">
        <dd class="br1 f6 ml0 ph2 pr2">
          <i class="material-icon-small material-icons">mode_comment</i>
          Comments
        </dd>
        <dd class="f1">10</dd>
      </dl>
  </article>

  <a class="bg-navy br2 dib dib dim f5 link ph5 pv2 white" href="/compare-accept">Open in LeasePilot</a>

  <footer class="b--black-10 bt f6 mt4 pt4 tc">
    <p>
      This email was sent to
      <a class="blue link" href="#">bart@ey.com</a> because
      <a class="blue link" href="#">rachel@freshfields.us</a> sent an invitation in LeasePilot.
    </p>
    <p class="ma0">LeasePilot</p>
    <p class="ma0">109 State St, Boston, MA 02109</p>
  </footer>
</div>
{{/ layout }}
