<div class="b--black-10 bb pa3">
  <div class="flex items-center">
    <a href="/view-lease" class="dim flex items-center link navy">
      <i class="material-icons pr2">chevron_left</i>
      <img src="/assets/img/logo.png" class="br-100 dib h3 mr3 w3" alt="logo">
    </a>
    <div>
      <h1 class="f4 mb1 ml2 mt2 normal">{{site.lease-name}}</h1>
      <ul class="list">
        <li class="dib mr2"><a href="#" class="dim f6 link mid-gray pa2">
          <i class="material-icon-small material-icons">lock</i>
          You control this document</a></li>
        <li class="dib mr2"><a href="#" class="dim f6 link mid-gray pa2">Negotiation with 0</a></li>
        <li class="dib mr2"><a href="#" class="dim f6 link mid-gray pa2">
          <i class="material-icon-small material-icons">check</i>
          All changes saved</a></li>
        <li class="dib mr2"><a href="#" class="dim f6 link mid-gray pa2 underline">Status: Initial draft</a></li>
      </ul>
    </div>
    <div class="flex flex-grow-1 items-center justify-end">
      <a class="bg-navy br2 dib dim f6 link mr2 ph4 pv2 white" href="/{{url}}">Share</a>
      <img src="https://ui-avatars.com/api/?name=Rachel+Bueller" class="br-100 h2 w2 dib ml2" alt="avatar">
    </div>
  </div>
</div>
