<div class="{{#if color}}bg-lightest-blue{{/if}} ph2 f5">
  <p>
    <span class="underline ml4"> 7.02 Tenant Electricity.</span>
      Tenant shall pay to Landlord, as Additional <span class="{{#if color}}bg-light-blue{{/if}}">Rent,</span> the costs of electricity used <span class="{{#if color}}bg-light-blue{{/if}}">in or for</span> the Premises <span class="{{#if color}}bg-light-blue{{/if}}">(including, without limitation, air handling units or other HVAC equipment serving</span> the <span class="{{#if color}}bg-light-blue{{/if}}">Premises) and, if applicable, for any special equipment installed by or for Tenant elsewhere in</span> the <span class="{{#if color}}bg-light-blue{{/if}}">Building, by a separate charge payable by Tenant to Landlord based</span> on <span class="{{#if color}}bg-light-blue{{/if}}">check-meters installed for</span> the <span class="{{#if color}}bg-light-blue{{/if}}">Premises (or for</span> any <span class="{{#if color}}bg-light-blue{{/if}}">applicable portion thereof or equipment serving the Premises) or, for any portion of the Premises or equipment that from time to time does not have operational check-meters, based on reasonable allocations prepared by Landlord’s building engineer</span> for the <span class="{{#if color}}bg-light-blue{{/if}}">space and period in question.</span>
  </p>
</div>
