<div class="bg-lightest-blue ph2 f5">
  <p>
    <span class="underline ml4"> 7.02 Tenant Electricity.</span>
      Tenant shall pay to Landlord, as Additional <span class="bg-light-blue">Rent,</span> the costs of electricity used <span class="bg-light-blue">in or for</span> the Premises <span class="bg-light-blue">(including, without limitation, air handling units or other HVAC equipment serving</span> the <span class="bg-light-blue">Premises) and, if applicable, for any special equipment installed by or for Tenant elsewhere in</span> the <span class="bg-light-blue">Building, by a separate charge payable by Tenant to Landlord based</span> on <span class="bg-light-blue">check-meters installed for</span> the <span class="bg-light-blue">Premises (or for</span> any <span class="bg-light-blue">applicable portion thereof or equipment serving the Premises) or, for any portion of the Premises or equipment that from time to time does not have operational check-meters, based on reasonable allocations prepared by Landlord’s building engineer</span> for the <span class="bg-light-blue">space and period in question.</span>
  </p>
</div>
