<div class="bg-lightest-blue ph2 f5">
  <p>
    <span class="underline ml4"> 7.01 Building Services.</span> Landlord shall furnish Tenant with the following services: (a) water for use in the Base Building <span class="bg-light-blue">restrooms</span>; (b) customary heat and air conditioning in season
    during Building Service <span class="bg-light-blue">Hours​​​ and substantially</span> in <span class="bg-light-blue">accordance with</span> the <span class="bg-light-blue">specifications set forth on Exhibit H attached hereto (the “HVAC
    Specifications”)​​​;<span>
  </p>
</div>
