<div class="{{#if color}}bg-lightest-blue{{/if}} ph2 f5">
  <p>
    <span class="underline ml4"> 7.01 Building Services.</span> Landlord shall furnish Tenant with the following services: (a) water for use in the Base Building <span class="{{#if color}}bg-light-blue{{/if}}">restrooms</span>; (b) customary heat and air conditioning in season
    during Building Service <span class="{{#if color}}bg-light-blue{{/if}}">Hours​​​ and substantially</span> in <span class="{{#if color}}bg-light-blue{{/if}}">accordance with</span> the <span class="{{#if color}}bg-light-blue{{/if}}">specifications set forth on Exhibit H attached hereto (the “HVAC
    Specifications”)​​​;<span>
  </p>
</div>
