<nav class="b--black-10 bb ph3 pl4 pt3">
  <a
    class="{{#if compare}} dim gray {{else}} b bb black {{/if}} dib f6 link mr3 pb3 ph5"
    href="/"
    title="Home">Lease</a>
  <a
    class="{{#if compare}}b bb black pb3 {{else}} dim gray {{/if}} dib f6 link mr3 ph5"
    href="/compare"
    title="Home">Compare</a>
</nav>
