<!doctype html>
<!--[if IE 7 ]>    <html class='ie7'> <![endif]-->
<!--[if IE 8 ]>    <html class='ie8'> <![endif]-->
<!--[if IE 9 ]>    <html class='ie9'> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class='' lang='en'>
<!--<![endif]-->

<head>
  {{> base/base-meta }} {{> base/base-head }} {{> templates/comment }}{{> templates/comment-modal }} {{> base/base-favicon
  }}

</head>

<body class="avenir">
  <main>
    {{> @partial-block }}
  </main>
  {{> base/base-js }}
</body>

</html>
