.commentable-section {
  position: relative;

  &.highlight,
  &:hover {
    background-color: $color-highlight;
  }

  .commentable-section--marker {
    @include position(absolute, -0.125rem -3.25rem null null);
    @include size(3rem);
    cursor: pointer;
    display: block;
    opacity: 0;
    padding: 0.75rem $spacing-small;
    text-align: center;
    transform: scale(0);
    transition: $transition-base;
  }

  &:hover .commentable-section--marker {
    opacity: 1;
    transform: scale(1);
  }
}

.comment-modal {
  width: rem(240);
}
